<!-- Header -->
		<header class="main-header " id="header">
			<nav class="navbar navbar-static-top navbar-expand-lg">
				<!-- Sidebar toggle button -->
				<button id="sidebar-toggler" class="sidebar-toggle">
					<span class="sr-only">Toggle navigation</span>
				</button>
				<!-- search form -->
				<div class="search-form d-none d-lg-inline-block">
				</div>

				<div class="navbar-right ">
					<ul class="nav navbar-nav">
						<!-- User Account -->
						<li class="dropdown user-menu">
							<button href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
								<%= image_tag("sleek/user/user.png", :class => "user-image", :alt => "User Image") %>
								<span class="d-none d-lg-inline-block"><%= current_user.name %></span>
							</button>
							<ul class="dropdown-menu dropdown-menu-right">
								<!-- User image -->
								<li class="dropdown-header">
									<img src="/assets/sleek/user/user.png" class="img-circle" alt="User Image" />
									<div class="d-inline-block">
										<%= current_user.name %> <small class="pt-1"><%= current_user.email %></small>
									</div>
								</li>
								<li>
									<a href="<%= edit_user_registration_path(current_user) %>">
										<i class="mdi mdi-account"></i> My Profile
									</a>
								</li>
								<% if user_signed_in? %>
								<li class="dropdown-footer">
									<a href="<%= destroy_user_session_path %>" data-method="delete"> <i class="mdi mdi-logout"></i> Log Out </a>
								</li>
								<% end %>
							</ul>
						</li>
					</ul>
				</div>
			</nav>


		</header>