<%= simple_form_for(@order) do |f| %>  
	<% if @order.errors.any? %>  
		<div id="error_explanation">  
			<h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>  
			<ul>  
			<% @order.errors.full_messages.each do |message| %>  
			 <li><%= message %></li>  
			<% end %>  
			</ul>  
		</div>
	<% end %>  
	<div class="form-group row">
		<div class="col-12 col-md-2">
			<%= f.label :order_code %><br>
		</div>
		<div class="col-12 col-md-4">
			<%= f.text_field :order_code, class: 'form-control input-lg' %>
		</div>
		<div class="col-12 col-md-2">
			<%= f.label :order_date %><br>
		</div>
		<div class="col-12 col-md-4">
			<%= f.text_field :order_date, value: Time.now,class: 'form-control input-lg', readonly: true %>
		</div>
	</div>
	<div class="form-group row">
		<div class="col-md-12">
			<table class="table table-bordered">
				<thead>
					<th>Product</th>
					<th width="15%">Price</th>
					<th width="10%">QTY</th>
					<th width="15%">Sub Total</th>
					<th width="10%"></th>
				</thead>
				<tbody class="fields">
					<%= f.simple_fields_for :items do |builder| %>   
						<%= render 'item', f: builder %>   
					<% end %>
				</tbody>
			</table>
			<%= link_to_add_row('Add Task', f, :items, class: '') %>
		</div>
	</div>
	<div class="form-footer pt-5 border-top">
		<%= f.submit class: 'btn btn-primary btn-default' %>  
	</div>  
<% end %>