<div class="card card-default">
	<div class="card-header card-header-border-bottom">
		<h2>List of Orders</h2>
	</div>
	<div class="card-body">
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Order code</th>
					<th>Order date</th>
					<th>Total</th>
					<th>Discount</th>
					<th>Status</th>
					<th>User</th>
					<th colspan="3" width="15%"></th>
				</tr>
			</thead>

			<tbody>
				<% @orders.each do |order| %>
					<tr>
						<td><%= order.order_code %></td>
						<td><%= time_format order.order_date %></td>
						<td><%= currency_format order.total %></td>
						<td><%= currency_format order.discount %></td>
						<td><%= order.status_name %></td>
						<td><%= order.user.name %></td>
						<td>
							<% if can? :read, order %>
								<%= link_to 'Show', order %>
							<% end %>
						</td>
						<td>
							<% if order.status == 1 and can? :update, order %>
								<%= link_to 'Edit', edit_order_path(order) %>
							<% end %>
						</td>
						<td>
							<% if order.status == 1 and can? :destroy, order %>
								<%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %>
							<% end %>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
		<div class="digg_pagination">
			<%= will_paginate @orders %>
		</div>
		<div class="form-footer pt-5 border-top text-right" style="margin-top: 10px">
			<%= link_to 'New Order', new_order_path, class: 'btn btn-primary' %>
		</div>
	</div>
</div>
