<div class="card card-default">
	<div class="card-header card-header-border-bottom">
		<h2>List of Products</h2>
	</div>
	<div class="card-body">
		<table class="table table-bordered table-stripped">
			<thead>
				<tr>
					<th>Sku</th>
					<th width="30%">Name</th>
					<th>Price</th>
					<th>Stock</th>
					<th>Status</th>
					<th width="15%"></th>
				</tr>
			</thead>

			<tbody>
				<% @products.each do |product| %>
					<tr>
						<td><%= product.sku %></td>
						<td><%= product.name %></td>
						<td><%= product.price %></td>
						<td><%= product.stock %></td>
						<td><%= product.status %></td>
						<td class="text-center"><%= link_to 'Edit', edit_product_path(product), :class => 'badge badge-info' %> <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'badge badge-danger' %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
		<%= link_to 'New Product', new_product_path %>
	</div>
</div>