<!DOCTYPE html>
<html>
	<head>
		<title>Dashboard</title>
		<%= csrf_meta_tags %>
		<%= csp_meta_tag %>

		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

		<%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Montserrat:400,500|Poppins:400,500,600,700|Roboto:400,500" %>
		<%= stylesheet_link_tag "https://cdn.materialdesignicons.com/3.0.39/css/materialdesignicons.min.css" %>
		<%= stylesheet_link_tag "sleek/sleek.css" %>
		<%= stylesheet_link_tag "custom.css" %>
	</head>

	<body class="header-fixed sidebar-fixed sidebar-dark header-light" id="body">
			<!-- <script>
	NProgress.configure({ showSpinner: false });
	NProgress.start();
	</script> -->
		<div class="mobile-sticky-body-overlay"></div>
		<div id="toaster"></div>
		<div class="wrapper">
			<%= render 'shared/sidebar' %>
			<div class="page-wrapper">
				<%= render 'shared/header' %>
				<div class="content-wrapper">
            		<div class="content">
            			<% flash.each do | key, value | %>
            				<%
            					flash_type = (key == 'notice')? 'success' : 'danger'
            				%>
            				<p id="notice" class="alert alert-<%= flash_type %>"><%= value %></p>
            			<% end %>
						<%= yield %>
					</div>
				</div>
				<%= render 'shared/footer' %>
			</div>
		</div>
	</body>
</html>
